snippet d( "method definition with args" i
def ${1}(${2})
  ${3}
end
endsnippet 

snippet d "method definition no args" i
def ${1}
  ${2}
end
endsnippet 

snippet ' "single quotes" i
'${1}' ${2}
endsnippet

snippet { "curly brackets" i
{ ${1} } ${2} 
endsnippet
